<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Hello I am Bambam Shivam.</p>
    <p>I have created this blog website.</p>
    <p>I dont know how to swim.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>